{% extends "base.html" %}

{% block content %}
  <body>
    <div class="container">
        <a href="{{ url_for('add_dealer') }}" class="btn-add"><i class="bi bi-plus-square"></i>  Добавить поставщика</a>
        <h1>Поставщики</h1>
        <form method="post" action="/show_dealers">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Adres</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                </tr>
                </thead>
            <tbody>
            {% for el in dealers %}
            <tr>
                <td><a href="edit_dealer/{{ el.id }}" class="btn btn-outline-dark">{{ el.name }}</a></td>
                <td>{{ el.adres }}</td>
                <td>{{ el.e_mail }}</td>
                <td>{{ el.phone }}</td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
        </form>
    </div>
  </body>
{% endblock %}
