{% extends "base.html" %}

{% block content %}
  <body>
    <div class="container">
        <a href="{{ url_for('add_good') }}" class="btn-add"><i class="bi bi-plus-square"></i>  Добавить товар</a>
        <h1>Товары</h1>
        <form method="post" action="/show_goods">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Dealer</th>
                    <th>Second Dealer</th>
                    <th>Second Price</th>
                </tr>
                </thead>
            <tbody>
            {% for el in articles %}
            <tr>
                <td><a href="update_good/{{ el.id }}" class="btn btn-outline-dark">{{ el.name }}</a></td>
                <td>{{ el.price }}</td>
                <td>{{ el.type }}</td>
                <td>{{ el.dealer_name }}</td>
                <td>{{ el.second_dealer }}</td>
                <td>{{ el.second_price }}</td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
        </form>
    </div>
  </body>
{% endblock %}
