{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('add_good') }}" class="btn-add"><i class="bi bi-plus-square"></i>  Добавить товар</a>
<h1>Все товары</h1>
  <body>
    <div class="frame-1">
        <form method="post" action="/show_goods">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> </th>
                    <th>Наименование</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Dealer</th>
                    <th>Second Dealer</th>
                    <th>Second Price</th>
                </tr>
                </thead>
            <tbody>
            {% for el in articles %}
            <tr>
                <td><a href="update_good/{{ el.id }}" class="btn btn-outline-dark">{{ el.name }}</a></td>
                <td>{{ el.name }}</td>
                <td>{{ el.price }}</td>
                <td>{{ el.type }}</td>
                <td>{{ el.dealer_name }}</td>
                <td>{{ el.second_dealer }}</td>
                <td>{{ el.second_price }}</td>
                <td>
                    <input type="checkbox" name="ids" value="{{ el.id }}">
                </td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
            <button class="button_delete" type="submit">Delete</button>
        </form>
    </div>
  </body>
{% endblock %}
