
{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('add_restaurant') }}" class="btn-add"><i class="bi bi-plus-square"></i>  Добавить ресторан</a>
<h1>Все товары</h1>
  <body>
    <div class="frame-1">
        <form method="get" action="/restaurants">
        <table class="table">
            <thead>
                <tr>
                    <th>Имя пользователя</th>
                    <th>Почта</th>
                    <th>Role</th>
                </tr>
                </thead>
            {% for el in restaurants %}
            <tbody>
            <tr>
                <td>{{ el.name }}</a></td>
                <td>{{ el.ur_name }}</td>
                <td>{{ el.role_name }}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
        </form>
    </div>
  </body>
{% endblock %}
</html>