{% extends "base.html" %}

{% block title %}Просмотр заказа{% endblock %}

{% block content %}
<div class="container">
    <h2>Заказ №{{ order.id }}</h2>

    {% for dealer, data in dealers.goods %}
        <h4>Поставщик: {{ dealer }}</h4>
        <ul>
            {% for good in data.Goods %}
                <li>{{ good.article.name }} — {{ good.quantity }} шт. ({{ good.article.price * good.quantity }} руб.)</li>
            {% endfor %}
        </ul>
        <p><strong>Итого: {{data.total}} руб.</strong></p>
    {% endfor %}

    <a href="{{ url_for('view_order', order_id=order.id) }}" class="btn btn-primary">Отправить заказ</a>
</div>
{% endblock %}